<!DOCTYPE html>
<html>
<head>
	<title>Catedral Betânia</title>
</head>
<body>
{% load static %}
	<link href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">

<form method='POST'>
{% csrf_token %}
<p align="center">
	<img src="{% static 'logo.jpg' %}" width="50%" height="50%" alt="Logo da Catedral Betania">

</p>
<div align="center">
	<form method="post">
		<div class="form-group">
			<label for='login'>Usuário</label><input type='text' name='login'/><br/>
			<label for='senha'>Senha</label><input type='password' name='senha'/><br/>
			<input/ type='submit'>
		</div>
	</form>
</div>
</form>
</body>
</html>